@charset "UTF-8";

*{
  margin: 0;
}

/* 共有 */
html{
  font-size: 100%;
}
body{
  background-color: #f0f0f0;
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  font-size: 16px;
}
img{
  max-width: 100%;
}
p{
  color: #515151;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 30px;
}


/* ヘッダー */
#header{
  background-color: #fff;
}
nav,
#home{
width:1096px;
margin:0 auto;
}

nav{
  text-align: right;
  line-height: 66px;
}

nav ul li{
  display: inline-block;
  margin-left: 30px;
  color: #515151;
  font-family:YuMincho, 'Yu Mincho', serif;
  font-size: 16px;
  text-decoration:underline;
}

#home{
  height: 660px;
  text-align: center;
}

#home h1{
  display: inline-block;
  font-size: 45px;
  margin-top: 25%;
  font-family:YuMincho, 'Yu Mincho', serif;
  font-weight: lighter;
  color: #515151;
}

/* 包括 */
#wrapper{
  margin: 0 auto;
  width: 1096px;
}

#work,
#comment,
#skill{
  margin:100px auto;
}

/* 制作実績 */
#work{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 100px;
  padding: 0 5%;
}
.work img:hover{
  transform: scale(1.05,1.05);
  transition: all 0.5s;
}

.work_title{
  display: inline-block;
  text-align: left;
  font-family: YuMincho, 'Yu Mincho', serif;
  font-size: 16px;
  font-weight: lighter;
  color: #515151;
}

#skill{
  display: flex;
  flex-wrap: wrap;
}
.skill{
  width: 50%;
  display: flex;
  margin-bottom: 40px;
}

#skill div img{
  width:60px;
  height:60px;
  margin-right: 24px;
}
.skill_title{
  font-weight: bolder;
}

/* フッター */
#footer{
  background-color: #fff;
  padding:100px 0px 50px 0px;
}
#about{
  width: 1096px;
  margin: 0 auto;
  display: flex;
}
#about img{
  width: 120px;
  height: 120px;
  margin-right: 50px;
}

#toppage{
  margin-top:100px;
  text-align: center;
}
#toppage:hover{
  cursor: pointer;
}
#toppage p{
  font-size: 12px;
  line-height: 15px;
}

#scroll{
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: gray;
  font-weight: bold;
  color: #000;
}




@media(max-width: 600px){
  nav,
  #home,
  #wrapper,
  #about{
    width:330px;
  }

  #home h1{
    font-size:35px;
    margin-top: 50%;
  }

  #about img{
    display: none;
  }
}
