@charset "utf-8";
* { margin: 0; padding: 0; }

/* 共通 */
html{
  font-size: 100%;
}
body{
  background-image: url("img/back.png");
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
img{
  max-width: 100%;
  height:auto;
}
li{
  list-style: none;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  margin-bottom: 28px;
}

#home,
#allow,
#gallery,
#information,
#footer{
  margin-bottom: 50px;
}


/* 包括 */
#wrapper{
  text-align: center;
}
#container{
  margin: 0 5%;
}

/* ホーム */
#home{
  position: relative;
}

#header_contents{
  margin-left: 85px;
  margin-top: 80px;
  text-align: left;
}
.logo{
  display: block;
  margin-bottom: 28px;
} 
.sns{
  display: inline-block;
  margin-right: 27px;
}

#header_img{
  text-align: right;
  width:628px;
  position: absolute;
  right:0;
  top:-85px;
}

/* ギャラリー */
#gallery_contents img{
  width:776px;
}

/* インフォメーション */
.map{
  margin-bottom: 55px;
  height: 310px;
  background-color: lightgray;
}



/* レスポンシブ */
@media screen and (max-width:600px){
  /* 共通 */
  h1{
    font-size: 20px;
  }
  /* ホーム */
  #home{
    margin: 0 5%;
  }
  #header_contents,
  #header_img{
    max-width:100%;
  }
  #header_contents{
    margin :30px auto;
  }
  #header_img{
    display: none;
  }
  .sns{
    margin-right: 15px;
  }
  .sns img{
    width: 30px;
  }

  /* メイン */
  #allow img{
    width: 40px;
  }

  /* フッター */
  #footer{
    margin-bottom: 20px;
  }
  #footer img{
    width: 150px;
  }
  
}
