@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
}

/* reset */
@import url(reset.css);

/* 共通 */
body{
  margin: 0px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h2,
h3,
a{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
}
ul{
  margin: 0px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

#news,
#message,
#works,
#csr,
#contact{
  padding: 70px 0px;
}

/* ホーム */
#home{
  background-image:url(img/home.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
#home h1{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  color: #FFF;
  font-size: 55px;
  white-space:nowrap;
}
.list{
  display: inline-block;
  font-size: 15px;
  margin: 30px 15px;
}
.list a{
  color: #FFF;
}
#scroll{
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%);
  color: #FFF;
  font-size: 15px;
  padding-top: 300px;
}

/* タイトル共通 */
.title{
  color: #454545;
  margin-bottom: 45px;
}
h2{
  font-size:30px;
}
h3{
  font-size:20px;
}

/* ニュース */
#news_contents{
  display: inline-block;
  border: solid 0.5px #454545;
  border-radius: 10px;
  padding: 2em;
  margin: 5px;
}
.news_list{
  display: flex;
  margin-bottom: 20px;
}
.news_list li{
  text-align: left;
}
.news_list li a{
  color: #454545;
}
.news_list li a:hover{
  text-decoration: underline;
}
.news_list li:nth-child(1){
  margin-right: .5em;
  font-weight: bold;
  min-width: 150px;
}
.news_list li:nth-child(2){
}
.next{
  
  text-align: right;
}
.next a{
  font-size: 14px;
  color: #454545;
}
.next a:hover{
  text-decoration: underline;
  color: tomato;
}

/* メッセージ */
#message{
  background-image:url(img/message.png);
  background-size:cover;
  height: 400px;
  padding: 2em;
}
#message>p{
  margin-top: 60px;
  font-size: 20px;
}

/* 事業内容 */
#works{
  border-bottom: solid 0.5px #454545;
  margin: 0 10%;
}
#works_contents{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:30px;
}
.works_items{
  background-color: whitesmoke;
  padding: 20px;
}
.works_items h4{
  margin-bottom: 20px;
}
.works_items div{
  text-align: left;
  font-size: 14px;
}


/* CSR情報 */
#csr{
  margin: 0 10%;
}
#csr_contents{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:40px;
  padding: 20px;
}
.csr_items{
  margin-bottom:20px;
}
.csr_items:hover{
  transition: 1.0s;
  opacity: .5;
}
.csr_items h4{
  margin-bottom: 10px;
  color: #454545;
}

/* お問い合わせ */
#contact{
  background-image: url(img/contact.png);
  background-size:cover;
  max-height:620px;
}form{
  display: inline-block;
  background: rgb(255, 255, 255, .5);
  max-width: 920px;
  padding: 50px;
}
.form_item{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.form_item label{
  text-align: left;
  width: 250px;
  
}
.form_item input,
.form_item textarea{
  resize: vertical;
  width: 480px;
  border:none;
  font-size: 16px;
  color: #454545;
}
input[type="submit"]{
  font-size: 14px;
  padding: 12px 32px;
  border-radius: 5px;
  background: lightgrey;
}
input[type="submit"]:hover{
  cursor: pointer;
}
/* フッター */
#footer p{
  color: #454545;
  font-size: 14px;
  margin: 25px;
}

@media(max-width: 768px){
  nav{
    display: none;
  }

  #home h1{
    font-size: 30px;
  }


  #message>p{
    font-size: 12px;
  }

  #works_contents{
    display: block;
  }

  #csr_contents{
    display: block;
  }

  .form_item label{
    width: 120px;
    font-size: 14px;
  }
}