@charset "utf-8";
* { margin: 0; padding: 0; }

body{
  font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
  background-color: #F6F6F6;
  border-top: solid 8px #6CC6C4;
}
.wrapper{
  margin: 0 auto;
  width:920px;
  margin-bottom: 20px;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
}

/* header */
.header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.headerLeft{
  width: 300px;
}
.headerLeft img{
  margin-top: 20px;
}
.headerRight{
  text-align: center;
}
.headerRight p {
  color: #515151;
  margin-bottom: 5px;
}
.sub{
  font-size: small;
}
.tel{
  font-size: x-large;
}
.time{
  font-size: small;
  padding: 5px;
  border: solid #515151 0.5px;
}
.red{
  color: rgb(199, 53, 53);
}
.small{
  font-size: small;
}

/* nav */
nav{
  text-align: center;
  width: 100%;
  border-radius: 5px;
}
nav li{
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  padding: 15px;
  background-color: #6CC6C4;
  border: solid 0.5px #6CC6C4;
  box-sizing: border-box;
}
nav li a{
  color: #F6F6F6;
}
nav li a.first{
  border-radius: 6px 0px 0px 6px;
}
nav li a.last{
  border-radius: 0px 6px 6px 0px;
}

/* main */
main{
  display: flex;
  justify-content: space-between;
}
aside{
  width:30%;
  margin-right: 20px;
}
article{
  width: 70%;
}

.asideContents{
  margin-bottom: 20px;
  
}
.asideContents h2{
  color: #F6F6F6;
  font-size: medium;
  background-color: #6CC6C4;
  border: solid 1px #6CC6C4;
  border-radius: 5px 5px 0px 0px;
}
.list{
  padding:6px 15px;
}
ul{
  border: solid 1px #6CC6C4;
  margin: 0 auto;
}
.asideList{
  list-style: none;
  border-bottom: solid 1px#6CC6C4;
  width: 80%;
  margin: 5px
}
.asideList a{
  font-weight: bold;
  font-size: small;
  color: #515151;
}
.asideList a:hover{
  color:#6CC6C4;
}

/* top */
.topImage{
  width: 640px;
  height: 280px;
  background-color: lightgray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topImage p{
  display: inline-block
}
.news{
  background-color: white;
  padding: 15px 0;
}
.news h2{
  color: #515151;
  font-size: medium;
  border-bottom: solid 3px #6CC6C4;
  margin: 5px 15px;
}
table {
  margin: 0 auto;
  width:95%;
  font-size: small;
}
td{
  vertical-align: baseline;
  padding: 10px;
  border-bottom: dashed #515151 1px;
}


/* footer */
.footerNav,
.footerInfo,
.copyright{
  margin-bottom: 20px;
}
footer ul{
  background-color: #6CC6C4;
  border-radius: 5px;
}
footer li{
  display: inline-block;
  margin: 5px 10px;
}
footer li a{
  color:#F6F6F6;
  font-size: small;
}
.footerInfo{
 text-align: right;
 font-size: small;
}
.copyright{
  font-size: small;
  text-align: center;
  border-top: solid 3px #6CC6C4;
  padding: 10px;
}
